<div class="resume">
    <div class="personalInfo">
      <h1>Samuel Dejesus</h1>
      <address>Orlando FL (123) 456-7891<br>Example&#64;email.com</address>
    </div>

    <div class="summary">
      <h2>Summary</h2>
      <p>Full Stack Engineer leveraging background in Logistics and security that is distinguished with accolades to provide unique perspectives on how end-users interact with software and technology. Earned a certificate in Full Stack Web Development from the University of Central Florida and currently attending Western Governors University to obtain a B.S in Software Engineering. Efficient problem-solver who is passionate about developing applications, software and Networks. Strengths in problem management, teamwork, effective communication, design and building projects from ideation to execution.    
      </p>
    </div>
        <div class="education">
            <h2>Education / Certifications</h2>
            <p> Amazon Web Service <br>
                AWS Certified Cloud Practitioner - Certificate
            </p>

            <p>Western Governors University <br>
                Bachelor of Science, Software Engineering
            </p>

            <p>
                University of Central Florida <br>
                Full Stack Web Development - Certificate
            </p>
    </div>
       
    <div class="experience">
      <h2>Experience</h2>
      <p> Universal Orlando Resorts, Security Officer <span class="employmentDates">07/23 - Present</span></p>
      <p>Provide exceptional customer service and a security presence while observing and reporting any suspicious behavior. Defuse stressful situations while maintaining integrity and professionalism. Train new employees on company policy and procedures. Properly utilize tools like X-rays and vehicles to optimize security protocols. to be able to communicate with other officers' important information as well as working in a team to complete objectives and projects as requested by management.</p>
      <ul>
        <li>promoted in under a year due to preformance</li>
        <li>Acknowledged by my superiors and peers</li>
      </ul>
      <hr>
      <p>Florida Rock and Tank Line, Petroleum Delivery Driver <span class="employmentDates">02/22-02/23</span></p>
      <p>Transported and unloaded petroleum to multiple customers. Worked in a time constraint environment requiring planning, discipline, and task management. Maintained compliance with all DOT safety procedures and policies. Followed instructions from the office at moments notice. Additionally, conducted simple routine maintenance on trucks and performed daily inspections.</p>
      <ul>
        <li>Accelerated training due to work performance.</li>
        <li>Help train 2 new drivers through mentorship.</li>
        <li>Maintained a 100% safety record.</li>
      </ul>
    </div>
  </div>
